<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Hospitalized Patient Reporting</nb-card-header>
      <nb-card-body>
        <nb-accordion multi>
          <nb-accordion-item #patientDetails expanded>
            <nb-accordion-item-header>
              Patient Hospitalization Details
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="hospitalStartDate" class="label"
                      >First Hospitalization Date</label
                    >
                    <input
                      nbInput
                      fullWidth
                      placeholder="Select Hospitalization Start Date"
                      [nbDatepicker]="hospitalizationDatePicker"
                      id="hospitalStartDate"
                    />
                    <nb-datepicker #hospitalizationDatePicker></nb-datepicker>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="hospitalEndDate" class="label"
                      >Hospitalization End Date</label
                    >
                    <input
                      nbInput
                      fullWidth
                      placeholder="Select Hospitalization End Date"
                      [nbDatepicker]="hospitalEndDatePicker"
                      id="hospitalEndDate"
                    />
                    <nb-datepicker #hospitalEndDatePicker></nb-datepicker>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="hospitalName" class="label"
                      >Name of Hospital</label
                    >
                    <input
                      nbInput
                      fullWidth
                      placeholder="Name of Hospital"
                      id="hospitalName"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="hospitalAddress" class="label"
                      >Hospital Address</label
                    >
                    <input
                      nbInput
                      fullWidth
                      placeholder="Hospital Address"
                      id="hospitalAddress"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="underlyingCondition" class="label"
                      >Underlying Condition</label
                    >
                    <input
                      nbInput
                      fullWidth
                      placeholder="Underlying Condition"
                      id="underlyingCondition"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="comorbidity" class="label"
                      >Comorbid Conditions, if any</label
                    >
                    <input
                      nbInput
                      fullWidth
                      placeholder="Comorbid Conditions, if any"
                      id="comorbidity"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputVentilation" class="label"
                      >Hospitalization Status</label
                    >
                    <div class="col-sm-6">
                      <nb-radio-group (valueChange)="statusChange($event)" id="inputVentilation" class="row">
                        <nb-radio value="Recovery">Recovery</nb-radio>
                        <nb-radio value="Death">Death</nb-radio>
                      </nb-radio-group>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="finalDate" class="label"
                      >Date of {{ status }}</label
                    >
                    <input
                      nbInput
                      fullWidth
                      placeholder="Date of {{ status }}"
                      [nbDatepicker]="finalDatePicker"
                      id="finalDate"
                    />
                    <nb-datepicker #finalDatePicker></nb-datepicker>
                  </div>
                </div>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item #patientDetails>
            <nb-accordion-item-header>
              Patient Details
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputReturneeName" class="label"
                      >Patient's Name</label
                    >
                    <input
                      type="text"
                      nbInput
                      fullWidth
                      id="inputReturneeName"
                      placeholder="Patient's Name"
                    />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="inputLastName" class="label"
                      >Patient's {{ relationName }}'s Name</label
                    >
                    <input
                      type="text"
                      nbInput
                      fullWidth
                      id="inputLastName"
                      placeholder="Patient's {{ relationName }}'s Name"
                    />
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="relationship" class="label">Relationship</label>
                    <nb-select
                      id="relationship"
                      fullWidth
                      (selectedChange)="changeRelationship($event)"
                      selected="Father"
                    >
                      <nb-option value="Father">Father</nb-option>
                      <nb-option value="Mother">Mother</nb-option>
                      <nb-option value="Guardian">Guardian</nb-option>
                    </nb-select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputEmail" class="label">Age</label>
                    <input
                      type="number"
                      min="0"
                      nbInput
                      fullWidth
                      id="inputAge"
                      placeholder="Age"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputGender" class="label">Gender</label>
                    <div class="col-sm-6">
                      <nb-radio-group id="inputGender" class="row">
                        <nb-radio>Male</nb-radio>
                        <nb-radio>Female</nb-radio>
                        <nb-radio>Other</nb-radio>
                      </nb-radio-group>
                    </div>
                  </div>
                </div>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item #patientContactDetails>
            <nb-accordion-item-header>
              Patient Contact Details
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputWebsite" class="label">Phone Number</label>
                    <input
                      type="tel"
                      nbInput
                      fullWidth
                      id="inputWebsite"
                      placeholder="Phone Number"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputRelativePhone" class="label"
                      >Close Relative's Phone Number</label
                    >
                    <input
                      type="tel"
                      nbInput
                      fullWidth
                      id="inputRelativePhone"
                      placeholder="Close Relative's Phone Number"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="inputDestinationProvince" class="label"
                      >Current Address</label
                    >
                    <nb-select
                      id="inputDestinationProvince"
                      fullWidth
                      placeholder="Select Province"
                      (selectedChange)="changeDestProvince($event)"
                    >
                      <nb-option
                        *ngFor="let province of provinces"
                        [value]="province"
                        >{{ province }}</nb-option
                      >
                    </nb-select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="inputDestinationDistrict" class="label"
                      >&nbsp;</label
                    >
                    <nb-select
                      id="inputDestinationDistrict"
                      fullWidth
                      placeholder="Select District"
                      [disabled]="finalDestProvince === null"
                    >
                      <nb-option
                        *ngFor="let district of districts.destinationOpts"
                        [value]="district"
                        >{{ district }}</nb-option
                      >
                    </nb-select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="inputAddressProvince" class="label"
                      >Permanent Address</label
                    >
                    <nb-select
                      id="inputAddressProvince"
                      fullWidth
                      placeholder="Select Province"
                      (selectedChange)="changeAddrProvince($event)"
                    >
                      <nb-option
                        *ngFor="let province of provinces"
                        [value]="province"
                        >{{ province }}</nb-option
                      >
                    </nb-select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="inputAddressDistrict" class="label"
                      >&nbsp;</label
                    >
                    <nb-select
                      id="inputAddressDistrict"
                      fullWidth
                      [disabled]="permanentAddrProvince === null"
                      placeholder="Select District"
                    >
                      <nb-option
                        *ngFor="let district of districts.addressOpts"
                        [value]="district"
                        >{{ district }}</nb-option
                      >
                    </nb-select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label
                      for="inputDestinationMunicipality"
                      class="label"
                    ></label>
                    <input
                      type="text"
                      nbInput
                      fullWidth
                      [disabled]="finalDestProvince === null"
                      id="inputDestinationMunicipality"
                      placeholder="Municipality"
                    />
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="inputDestinationWard" class="label"></label>
                    <input
                      type="text"
                      nbInput
                      fullWidth
                      [disabled]="finalDestProvince === null"
                      id="inputDestinationWard"
                      placeholder="Ward"
                    />
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="inputAddressDistrict" class="label"></label>
                    <input
                      type="text"
                      nbInput
                      fullWidth
                      [disabled]="permanentAddrProvince === null"
                      id="inputDestinationDistrict"
                      placeholder="District"
                    />
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="inputAddressWard" class="label"></label>
                    <input
                      type="text"
                      nbInput
                      fullWidth
                      [disabled]="permanentAddrProvince === null"
                      id="inputAddressWard"
                      placeholder="Ward"
                    />
                  </div>
                </div>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
        <nb-card>
          <button type="submit" status="primary" nbButton>
            <nb-icon icon="save-outline"></nb-icon> Save Hospital Patient's Details
          </button>
        </nb-card>
      </nb-card-body>
    </nb-card>
  </div>
</div>
